.letter {
    display: grid;
    place-items: center;

    width: 6.4rem;
    aspect-ratio: 1 / 1;

    border: 0.3rem solid var(--color-screen-border);

    font-size: 3.8rem;
    font-weight: 700;
    text-transform: uppercase;

    &.gray {
        background-color: var(--color-screen-gray);
        border: none;
    }

    &.yellow {
        background-color: var(--color-yellow);
        border: none;
    }

    &.green {
        background-color: var(--color-green);
        border: none;
    }
}
