.keyboard {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    .row {
        display: flex;
        justify-content: center;
        gap: inherit;

        width: 100%;
    }

    .key {
        background-color: var(--color-key);
        color: var(--color-key-opposite);

        display: grid;
        place-items: center;

        width: 4.3rem;
        height: 5.8rem;

        border: none;
        border-radius: 0.4rem;

        font-size: 1.6rem;
        text-transform: uppercase;

        cursor: pointer;

        svg {
            fill: currentColor;

            width: auto;
            height: 1.6em;
        }

        &.large {
            width: 7.2rem;
        }
    }
}
