@font-face {
    font-family: karnak;
    font-weight: 400;
    src:
        url("../assets/fonts/karnak/karnak-normal-400.woff2") format("woff2"),
        url("../assets/fonts/karnak/karnak-normal-400.woff") format("woff");
}

@font-face {
    font-family: karnak;
    font-weight: 700;
    src:
        url("../assets/fonts/karnak/karnakcondensed-normal-700.woff2") format("woff2"),
        url("../assets/fonts/karnak/karnakcondensed-normal-700.woff") format("woff");
}

@font-face {
    font-family: franklin;
    font-weight: 400;
    src:
        url("../assets/fonts/franklin/franklin-normal-400.woff2") format("woff2"),
        url("../assets/fonts/franklin/franklin-normal-400.woff") format("woff");
}

@font-face {
    font-family: franklin;
    font-weight: 500;
    src:
        url("../assets/fonts/franklin/franklin-normal-500.woff2") format("woff2"),
        url("../assets/fonts/franklin/franklin-normal-500.woff") format("woff");
}

@font-face {
    font-family: franklin;
    font-weight: 600;
    src:
        url("../assets/fonts/franklin/franklin-normal-600.woff2") format("woff2"),
        url("../assets/fonts/franklin/franklin-normal-600.woff") format("woff");
}

@font-face {
    font-family: franklin;
    font-weight: 700;
    src:
        url("../assets/fonts/franklin/franklin-normal-700.woff2") format("woff2"),
        url("../assets/fonts/franklin/franklin-normal-700.woff") format("woff");
}
