.letter {
    &.gray {
        background-color: hsl(240, 2%, 23%);
    }

    &.yellow {
        background-color: hsl(49, 51%, 47%);
    }

    &.green {
        background-color: hsl(115, 29%, 43%);
    }
}
