.letter {
    &.gray {
        background-color: var(--color-key-gray);
    }

    &.yellow {
        background-color: var(--color-yellow);
    }

    &.green {
        background-color: var(--color-green);
    }
}
